<mat-sidenav-container #sidenav class="app-container" style="flex: 1;">
<mat-sidenav #sidenav mode="side" class="app-sidenav" opened={{appService.navBarOpen}}>

    <mat-list>
      <mat-list-item *ngFor="let navItem of navbarItems" class="mat-sidebar-option" (click)="redirectToRoot(navItem)">
        <mat-icon mat-list-icon>{{navItem.icon}}</mat-icon>
        <h4 mat-line>{{navItem.name}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <div class="app-sidenav-content">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>

</mat-sidenav-container>